body{
	font-family: Arial, Helvetica, Verdana, sans-serif;
}

table td, th{
	padding: 5px;
	border: 2px solid #191919;
}

table{
	border-collapse: collapse;
}

thead{
	background-color: gray;
	color: white;
}

.linh{
	text-align: left;
	background-color: gray;
	color: white;
}

.nc{
	text-align: center;
}

.nc2{
	text-align: center;
	background-color: gray;
	color: white;
}

.mater{
	width: 125px;
	text-align: left;
}