h1{ /* Box-level */
	display: inline;

	background-color: lightgray;
	height: 300px;
	width: 300px;
	
	border: 10px solid darkslategray;
	
	padding: 10px;
	
	margin: 20px auto 40px auto;
	
	outline: 5px dashed salmon;
}

a{	/* Inline-level */
	display: block;
	border-width: 10px;
	border-style: solid;
	border-color: red;
}