@chraset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){ /* Tablet */
	section#login{
		width: 90vw;
		min-height: 280px;
	}
	
	section#login div#imagem{
		float: left;
		width: 30%;
		min-height: 320px;
	}
	
	section#login div#formulario{
		float: right;
		width: 70%;
	}
	
	/* 
	form label{
		display: inline;
	}
	*/
	
	body{
		background-image: linear-gradient(to top, #7C151D, #AA7939);
	}
}

@media screen and (min-width: 992px){
	section#login{
		width: 950px;
		min-height: 280px;
	}
	
	section#login div#imagem{
		float: right;
		width: 50%;
		min-height: 370px;
	}
	
	section#login div#formulario{
		float: left;
		width: 50%;
	}
	
	/* 
	form label{
		display: inline;
	}
	*/
	
	body{
		background-image: linear-gradient(to top, #7C151D, #AA7939);
	}
	
	div#formulario h1{
		font-size: 2em;
	}
	
	div#formulario p{
		font-size: 1em;
		margin: 20px 0px;
	}
}