@charset "UTF-8";

/*
	Paleta de cores
	
	Verde #49a09d
	Lilás #5f2c82
*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, Arial, Helvetica, Verdana, sans-serif;
}

body, html{
	width: 100%;
	height: 100%;
}

body{
	background-color: #7C151D;
}

main{
	position: relative;
	flex: 0 1 auto;
	width: 100%;
	height: 100%;
}

section#login{
	position: absolute;
	background-color: #ddd;
	width: 250px;
	min-height: 500px;
	border-radius: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	box-shadow: 0px 0px 5px #111;
	transition: width .3s, height .3s;
	transition-timing-function: ease;
}

section#login div#imagem{
	display: block;
	background-image: url("../imagens/china.jpg");
	height: 200px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}

section#login div#formulario{
	display: block;
	padding: 10px;
}

div#formulario h1{
	text-align: center;
	margin-bottom: .5em;
}

div#formulario p{
	font-size: .8em;
}

.campo{
	display: block;
	font-size: 1em;
	background-color: #5f2c82;
	width: 100%;
	height: 40px;
	border-radius: 10px;
	margin: 10px 0px 10px 0px;
	text-align: center;
	align-items: center;
}

form label{
	display: none;
}

form input[type=submit]{
	display:  block;
	font-size: 1em;
	width: 100%;
	height: 40px;
	background-color: #49a09d;
	border: none;
	border-radius: 10px;
	color: #ddd;
	font-weight: bold;
	cursor: pointer;
}

form input[type=submit]:hover{
	background-color: #2d6462;
}

.botao{
	display: block;
	text-decoration: none;
	text-align: center;
	width: 100%;
	padding-top: 5px;
	margin-top: 5px;
	height: 40px;
	font-size: 1em;
	background-color: #ddd;
	border: 1px solid #49a09d;
	border-radius: 10px;
	color: #2d6462;
	font-weight: bold;
}

.botao:hover{
	background-color: #6cd3cf;
	color: #ddd;
}

.botao i{
	font-size: 1.2em;
}