@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Shadows+Into+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body{
	font-family: 'Work Sans', Arial, Verdana, sans-serif;
	font-size: 16px;
	color: black;
}

h1{
	font-family: 'Shadows Into Light', sans-serif;
}